<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-zinc-800 text-white px-2 py-5"> 


    <div class="" >
        <h1><%= user.username %></h1>
    </div>

    <div class="ProfileImg">
        <div class="w-20 h-20 rounded-full bg-white ml-10 translate-y-[50px] overflow-hidden hover:scale-110">
            <img class="w-full h-full bg-cover object-cover" src="/images/uploads/<%= user.ProfileImage %>" alt="">
        </div>
        

    </div>





        <div class=" flex justify-around items-center flex-wrap ml-[130px]">
            <div>
                <h1>12</h1>
              <h1>post</h1>
            </div>
    
            <div class="">
                <h1>200</h1>
                <h1>followers</h1>
              </div>
    
              <div class="">
                <h1>100</h1>
                <h1>Following</h1>
              </div>
       </div>
       
       
       <div class="m-10">

        <div class="flex justify-between">
            <div class=" -translate-y-5">
                <div class="flex flex-col gap-2">
                    <h1 class="text-3xl"><%= user.name %></h1>
                    <h1><%= user.Bio %></h1>
                    <button class="bg-blue-600 px-5 rounded-xl py-1"><a class="text-xl text-white " href="/edit">edit Profile</a></button>
                </div>
            </div>

           
            
        </div>

       </div>


  <div class="flex flex-wrap gap-5">
    <% user.posts.forEach(function(el){%>

        <div class="images uploaded flex gap-5">
            <div class="w-72 h-48 rounded-xl bg-white overflow-hidden hover:scale-110" >
                <img class=" h-full w-full object-cover bg-cover" src="/images/uploads/<%= el.picture %>" alt="">
            </div>
        </div>

    <%}) %>




  </div>


</div>

<% include ./partials/footer.ejs %>
